.jumbotron {
  text-align: center;
  font-family: fantasy;
  background-color: rgb(129, 109, 141);
  
}

h1 {
  font-family: fantasy;
  font-size: 75px;
}

img {

}

.container {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
}

.row {
  background-color: rgb(156, 139, 165);
  border-radius: 30px 30px 30px 30px;
  min-height: 200px;
}

#boom {
  display: none;
  height: 150px;
  float: left;
  padding-left: 50px;
}